/* 中间分类模块开始 */
.grid {
    height: 480px;
}
.grid-col1 {
    width: 190px;
    height: 100%;
    /* 不是给文字的，是给”/“定格式 */
    color: #ffffff;
    font-size: 14px;
    background-color: #6e6568;
}
.grid-col1 a {
    /* 给链接文字的*/
    color: #ffffff;
    font-size: 14px;
    margin: 0 3px;
}
.grid-col1 a:hover {
    color: #f10215;
}
.grid-col1 ul {
    padding: 10px 0;
}
.grid-col1 ul li {
    padding-left: 12px;
    height: 29px;
    line-height: 26px;
}
.grid-col1 ul li:hover {
    background-color: #9c9698;
}
.grid-col2 {
    width: 790px;
    height: 100%;
    margin-left: 10px;
}
/* banner部分 */
.grid-col2-b div {
    float: left;
    margin-top: 10px;
}
.grid-col2-b div:last-child {
    float: right;
    margin-top: 10px;
}
/* 箭头部分 */
.grid-col2-t {
    position: relative;
}
.arrow-l,
.arrow-r {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 60px;
    background: rgba(0, 0, 0, 0.3);
    transform: translateY(-50%);
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: rgba(255, 255, 255, .6);
    font-family: Arial;
    font-weight: normal;
}
.arrow-l {
    left: 0;
}
.arrow-r {
    right: 0;
}
.circle {
    width: 167px;
    height: 20px;
    background: rgba(255,255,255,.3);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding-left: 8px;
}
.circle li {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin: 4px;
    cursor: pointer;
}
.circle .current {
    background-color: #f10215;
}
/* 右侧部分 */
.grid-col3 {
    width: 190px;
    height: 100%;
}
.login {
    height: 85px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    padding: 15px;
}
.login-t {
    width: 95px;
    height: 60px;
    font-size: 12px;
    line-height: 20px;
    /* 强制一行内显示 */
    white-space: nowrap;
    /* 溢出部分隐藏 */
    overflow: hidden;
    /* 超出部分显示省略号 */
    text-overflow: ellipsis;
    color: #666666;
    padding-left: 60px;
    position: relative;
}
.login-t a {
    color: #666666;
}
.login-t a:hover {
    color: #f10215;
}
.user-info {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/sprite_userinfo@1x.png) no-repeat;
}
.user-info img {
    width: 40px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}
.login-b {
    text-align: center;
}
.login-b a {
    display: inline-block;
    width: 70px;
    height: 20px;
    border: 2px solid #f10215;
    text-align: center;
    line-height: 20px;
    color: #f10215;
}
.login-b a:hover {
    background-color: #f10215;
    color: #fff;
}
.news {
    height: 154px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    padding: 7px 13px 0;
    box-sizing: border-box;
}
.news-t {
    height: 19px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.news-t a {
    float: left;
    height: 17px;
    line-height: 17px;
}
.bargin {
    width: 38px;
    border-right: 1px solid #ccc;
}
.notice {
    margin-left: 15px;
}
.news-t .more {
    float: right;
}
.news-t div {
    height: 2px;
    width: 28px;
    background-color: #f10215;
    position: absolute;
    bottom: -1px;
}
.news-b {
    padding-top: 15px;
}
.news-b li {
    height: 23px;
    line-height: 23px;
}
.expand {
    height: 209px;
    background-color: #fff;
    overflow: hidden;
}
.expand ul {
    width: 195px;
}
.expand li {
    width: 47px;
    height: 69px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
}
.expand li a {
    display: block;
    padding-top: 15px;
    text-align: center;
}
.expand li i {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background: url(../images/sprite_fs@1x.png) no-repeat;
}
.expand li:first-child i {
    width: 18px;
    height: 23px;
    background-position: -5px -88px;
}



/* 中间分类模块结束 */